@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/asset/fonts/Pretendard-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
